body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: grey;
}

.navbar {
  background-color: seashell;
  opacity: 0.6;
}

.home-jumbo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*https://t4.ftcdn.net/jpg/01/10/49/85/240_F_110498526_noFimuAo32NiLPO0b7c4bEbK06cG1qHe.jpg*/
  background-image: url('http://content.chupamobile.com/user-upload2/product-image-screenshot/4ioluE97khZpn4jynfbUjKbi_1_Full.png');
}

.play-button {
  display: flex;
  background-color: deeppink;
  border-radius: 25px;
  color: white;
  padding: 15px 75px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.story-jumbo {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  color: lightgoldenrodyellow;
  background-image: url('http://wallpapercave.com/wp/FjnZ25X.jpg');
}

.about-story {
  font-family: 'MedievalSharp', cursive;
  font-size: 18px;
}
