body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: grey;
}

.navbar {
  background-color: seashell;
  opacity: 0.6;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-name {
  font-size: 70px;
}

.adventure-home {
  font-size: 20px;
}


/*
.home-jumbo {
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.play-button {
  display: flex;
  background-color: deeppink;
  border-radius: 25px;
  color: white;
  padding: 15px 75px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.story-jumbo {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  color: lightgoldenrodyellow;
  background-image: url('http://wallpapercave.com/wp/FjnZ25X.jpg');
}

.about-story {
  font-family: 'MedievalSharp', cursive;
  font-size: 18px;
}
